
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
    transition: opacity 0.5s ease;
}

.fadeIn {
    opacity: 1;
}

.fadeOut {
    opacity: 0;
    pointer-events: none;
}

.cardForm {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 300px;
    position: relative;  
    animation: fadeIn 0.5s ease;
}

.title {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
}

.close-btn {
    position: absolute;
    top: -30px;
    right: -150px;
    font-size: 20px;
    background: none;
    border: none;
    color: #888;
    cursor: pointer;
}

.close-btn:hover {
    color: red;
}

label {
    font-size: 16px;
    font-weight: 500;
}

input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 2px solid #ccc;
    border-radius: 4px;
    transition: border 0.3s ease, background-color 0.3s ease;
}

input:focus {
    border-color: #007BFF;
    background-color: #f0f8ff;
    outline: none;
}

button {
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}
